{% extends "blog/base.html" %}

{% block content %}
<style>
    label {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

    .errorlist {
        color: red;
    }

    input {
        border: 1px solid black;
    }
</style>
<br>

<div class="container" style="box-shadow:2px 2px 2px black;background-color:ghostwhite;border:1px solid black;">
    <div>
        <form method="POST" style="margin:5%;">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" style="border:none;"><a class="waves-effect waves-light btn">reset
                    password</a></button>
        </form>

    </div>
</div>
{% endblock %}